@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">

        <div class="col-4">
            <h1>The Best Trios</h1>
            <img src="~/img/wolfmother.jfif" width="200"/>
            <p>This page is dedicated to some of the best three-person bands in the world. Based on my own professional 
                music experience, it is difficult to throw down that kind of sound with only three individuals playing </p>
        </div>
        <div class="col-8">
            <ul>
                <li><h4>The Beastie Boys</h4><p>Hip-Hop Legends</p></li>
                <li><h4>ZZ Top</h4><p>Those Beards!!</p></li>
                <li><h4>Cream</h4><p>Eric, Jack and Ginger</p></li>
                <li><h4>Wolfmother</h4><p>Will make your ears bleed</p></li>
                <li><h4>Rush</h4><p>Seriously 3 Dudes makingthat sound!</p></li>
                <li><h4>The Jimi Hendrix Experience</h4><p>Hendrix? Need I say more?</p></li>
                <li><h4>Primus</h4><p>Les</p></li>
                <li><h4>The Stray Cats</h4><p>Gonna Rock this town!</p></li>
                <li><h4>Los Lonely Boys</h4><p>Tres Hermanos</p></li>
                <li><h4>The Birdwatchers</h4><p>Artful Craft</p></li>
            </ul>
        </div>

    </div>

    <h3>Other notable trios....</h3>

    <div class="row">

        <div class="col">
            <img src="~/img/nirvana.jfif" width="300"/>
        </div>
        <div class="col">
            <img src="~/img/gd.webp" width=" 300"/>
        </div>
        <div class="col">
            <img src="~/img/the popo.jpg" width=" 300"/>
        </div>
    </div>

</div>